[user]
	name = Byurhan Nurula
	email = gh.dev@bbn.anonaddy.com

[core]
	editor = code --wait
	excludesfile = ~/.gitignore-global
	autocrlf = input
	safecrlf = true
	filemode = false

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[merge]
	conflictstyle = diff3

[rerere]
	enabled = true

[branch]
	autosetuprebase = always

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	# Basic shortcuts
	st = status
	co = checkout
	br = branch
	ci = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	
	# Useful shortcuts
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	
	# Log aliases
	lg = log --oneline --graph --decorate
	lga = log --oneline --graph --decorate --all
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	
	# Show changes
	changes = diff --name-status
	dic = diff --cached
	diffstat = diff --stat
	
	# Stash shortcuts
	sl = stash list
	sa = stash apply
	ss = stash save
	
	# Remote shortcuts
	pu = push
	pl = pull
	
	# Branch management
	cleanup = "!git branch --merged | grep -v '\\*\\|master\\|main\\|develop' | xargs -n 1 git branch -d"
	
	# Undo shortcuts
	undo = reset --soft HEAD^
	amend = commit --amend --no-edit
	
	# Find commits by commit message
	fm = "!git log --pretty=format:'%C(yellow)%h  %C(blue)%ad  %C(reset)%s%C(green)  [%cn] %C(red)%d' --decorate --date=short --grep"
	
	# Find commits by source code
	fc = "!git log --pretty=format:'%C(yellow)%h  %C(blue)%ad  %C(reset)%s%C(green)  [%cn] %C(red)%d' --decorate --date=short -S"

[url "https://github.com/"]
	insteadOf = gh:

[url "https://gitlab.com/"]
	insteadOf = gl:

[url "https://"]
	insteadOf = git://

[http]
	postBuffer = 524288000

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
